body {
  color: black;
  background-color: white;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 71%;
  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 8.5pt; }

.border {
  border-color: #0072C6;
  border-style: solid;
  border-width: 1; }

h5 {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0;
  margin-right: 0; }

.image-fix {
  padding: 5mm 0 0 0;
  overflow: scroll;
  width: 99%; }

.blankedLink {
  color: black; }

a {
  color: #005090;
  text-decoration: none; }

a.dd_attribute {
  color: #330099; }

a.dd_class {
  color: #990000; }

a.dd_data_element {
  color: #009933; }

a.dd_domain {
  color: #FF6600; }

a.dd_form {
  color: #990066; }

a.dd_formpackage {
  color: #990066; }

a.dd_data_set {
  color: #0099cc; }

a.dd_webpage {
  color: #005090; }

a.retired {
  color: gray; }

#greyOut {
  color: #999999; }

#greyOut * {
  color: #999999; }

#greyOut .dataelementtitlebar,
#greyOut .dataelementtitlebarchangelog,
#greyOut .attributetitlebar,
#greyOut .attributetitlebarchangelog,
#greyOut .classtitlebar,
#greyOut .classtitlebarchangelog,
#greyOut .standardtitlebar,
#greyOut .standardtitlebarchangelog {
  color: #FFFFFF;
  background-color: #999999; }

#greyOut .border {
  border-color: #999999; }

.inserted  { 
  background-color: #C0F0F6;
}

.changeItem {
  color: black;
  text-decoration: none;
  width: 100%; }

.xmlFragment {
  width: 99%;
  height: 400px;
  overflow: scroll;
  border: 1px solid black;
  margin-top: 10px; }

div.changeItem table {
  width: 100%; }

div.fullWidth table {
  width: 100%; }

.fullWidth {
  width: 100%;
  overflow: hidden; }

#main-copy .searchHeader {
  color: #FFFFFF;
  font-weight: bold; }

#main-copy :hover.searchHeader {
  color: #FFFFFF;
  font-weight: bold;
  font-decoration: underline; }

.duckblue, .ducklbg, .duckbcbg, .duckbcbg9, .duckbcbg8, .duckbrbg, .duckcbg, .duckrbg {
  background-color: #005EB8;
  color: white; }

.skyblue, .skybg, .skyblbg, .skybcbg, .skybrbg, .skylbg, .skycbg, .skyrbg {
  background-color: #80a0b0;
  color: white; }

.classbg {
  background-color: #931638; }

.attributebg {
  background-color: #663399; }

.dataelementbg {
  background-color: #339966; }

/* ##### Header ##### */
.superHeader {
  color: white;
  height: 1.75em;
}

.superHeader a {
  color: white;
}

.superHeader li {
  display: inline;
  list-style-type: none; }

.superHeader ul {
  margin: 0;
  white-space: nowrap;
  padding: 0; }

.superHeader a:hover {
  text-decoration: underline; }

.superHeader .left {
  position: absolute;
  left: 18px;
  top: 0.75ex;
}

.superHeader .right {
  position: absolute;
  right: 1.5mm;
  top: 0.75ex; }

.LHLogo {
  margin: 18px;
}

.RHLogo {
  position: absolute;
  right: 0mm;
  margin: 2mm,2mm,2mm,2mm; }

.midHeader {
  color: #274e90;
  background-color: #005EB8; }

.headerTitle {
  font-size: 337%;
  font-weight: normal;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0; }

#header {
  background-color: #005EB8; }

.subHeader {
  color: white;
  background-color: #005EB8;
  font-weight: bold;
  padding: 0 0 12px 18px;
}

.subHeader a {
  color: white;
}

.subHeader a:hover {
  text-decoration: underline; }

.subHeader .right {
  position: absolute;
  right: 18px;
}

.superHeader .highlight, .subHeader .highlight {
  color: #fda05b;
  background-color: transparent; }

/* ##### Side Bar ##### */
#side-bar {
  width: 15em;
  float: left;
  clear: left;
  background: white;
  margin-bottom: 3em;
}

.sideBarTitle {
  font-weight: bold;
  margin: 18px 0 0 18px;
}

#side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

#side-bar li {
  color: #0066cc;
  padding-bottom: 1px;
  text-align: right; }

#side-bar .leftmenuglossary {
  /*  text-align:left;*/
  padding-left: 5px; }

#side-bar .leftmenuglossarylink {
  color: #0066cc;
  background-color: white;
  text-decoration: none;
  border: 0;
  line-height: 1.6em;
  display: inline; }

#side-bar :hover.leftmenuglossarylink {
  color: white;
  background-color: #80a0b0; }

#side-bar .leftmenuglossarylinkbold {
  color: #0066cc;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  border: 0;
  line-height: 1.6em;
  display: inline; }

#side-bar :hover.leftmenuglossarylinkbold {
  color: white;
  background-color: #6487dc; }

#side-bar .titlelink {
  font-weight: bold;
  padding-bottom: 1px;
  text-align: right; }

.tinytext {
  font-face: Arial Narrow; }

#side-bar a, .thisPage {
  color: #0066cc;
  background-color: white;
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 0;
  display: block; }

.thisPage {
  color: black;
  background-color: white;
  padding-left: 4mm;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999; }

#side-bar a:hover {
  color: white;
  background-color: #80a0b0; }

.sideBarText {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0 1.5ex 0 2.5mm;
  display: block; }

#side-bar .sideBarText a {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: inline; }

#side-bar .sideBarText a:hover {
  color: #0066cc;
  background-color: transparent;
  text-decoration: none; }

#side-bar .descriptiveTitle {
  padding-top: 10px;
  color: black;
  font-weight: bold; }

.lighterBackground {
  color: inherit;
  background-color: white; }

/* ##### Main Copy ##### */
.standardtitlebar {
  vertical-align: middle;
  background-color: #005EB8;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  float: left;
  padding: 4px 2px 1px 3px;
}

.standardtitlebarchangelog {
  vertical-align: middle;
  background-color: #005EB8;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  margin: 18px 0 0 0;
  text-align: right;
  padding: 4px 3px 1px 0;
}

.classtitlebar {
  vertical-align: middle;
  background-color: #931638;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  float: left;
  padding: 4px 2px 1px 3px;
}

.classtitlebarchangelog {
  vertical-align: middle;
  background-color: #931638;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  margin: 18px 0 0 0;
  text-align: right;
  padding: 4px 3px 1px 0;
}

#main-copy .titlebarlink {
  color: White;
  text-decoration: underline; }

#main-copy :hover.titlebarlink {
  color: White;
  text-decoration: none; }

.attributetitlebar {
  vertical-align: middle;
  background-color: #663399;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  float: left;
  padding: 4px 2px 1px 3px;
}

.attributetitlebarchangelog {
  vertical-align: middle;
  background-color: #663399;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  margin: 18px 0 0 0;
  text-align: right;
  padding: 4px 3px 1px 0;
}

.dataelementtitlebar {
  vertical-align: middle;
  background-color: #339966;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  float: left;
  padding: 4px 2px 1px 3px;
}

.dataelementtitlebarchangelog {
  vertical-align: middle;
  background-color: #339966;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: White;
  margin: 18px 0 0 0;
  text-align: right;
  padding: 4px 3px 1px 0;
}

#main-copy .titlebarwrapper {
  padding-left: 0px;
  margin-left: 0px;
  border-left: 0px; }

#main-copy {
  color: black;
  background-color: white;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 15em;
  padding: 0 18px 3em 2em;
}

#main-copy p {
  margin: 1.5em 0 1em 0;
  padding: 0; }

#main-copy a:hover {
  text-decoration: underline; }

#main-copy h1 {
  color: #0066cc;
  background-color: transparent;
  font-size: 145.5%;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0.5ex 0 0.5ex 0.6ex;
  border-bottom: 1px solid #0066cc; }

#main-copy th {
  font-family: verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 71%;
  vertical-align: top; }

#main-copy td {
  font-family: verdana, helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 71%;
  padding: 3px;
}

#main-copy .topOfPage {
  color: #0066cc;
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  margin: 3ex 1ex 0 0;
  padding: 0;
  float: right; }

#main-copy .changeLog {
  color: #009933; }

#main-copy > .topOfPage {
  margin: 2.75ex 1ex 0 0;
  /* For fully standards-compliant user agents */ }

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0; }

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0; }

dd {
  margin: 0 0 2em 2em;
  padding: 0; }

#main-copy a.specialisttoolbarlinkbutton {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #779AC2;
  border: 1px solid white; }

#main-copy a:hover.specialisttoolbarlinkbutton {
  background-color: #5578A0;
  text-decoration: none; }

#main-copy a.specialisttoolbarbottomlinkbutton {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #779AC2;
  border: 1px solid white; }

#main-copy a:hover.specialisttoolbarbottomlinkbutton {
  background-color: #5578A0;
  text-decoration: none; }

#main-copy a.specialisttoolbarlinkcurrent {
  color: #003366;
  font-weight: bold;
  background-color: white;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 0px solid white;
  text-decoration: none; }

#main-copy a.specialisttoolbarlink {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #779AC2;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 0px solid white;
  display: hidden; }

#main-copy a:hover.specialisttoolbarlink {
  background-color: #5578A0;
  text-decoration: none; }

#main-copy .specialisttoolbartop {
  background-color: #6689B1;
  color: White;
  margin: 0 0 0 0;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

#main-copy .specialisttoolbartopnonav {
  background-color: #6689B1;
  color: White;
  margin: 0 0 0 0;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

#main-copy .specialisttoolbarbottom {
  background-color: #B7BBBA;
  color: White;
  margin: 0 0 0 0;
  padding-left: 2px;
  padding-top: 4px;
  padding-bottom: 1px; }

/* ##### Footer ##### */
#footer {
  color: white;
  background-color: #005EB8;
  font-size: 91%;
  padding: 1em 18px 2.5ex 18px;
  clear: both;
}

#footer .left {
  line-height: 1.45em;
  float: left;
  clear: left; }

#footer .right {
  text-align: right;
  line-height: 1.45em; }

#footer a {
  color: white;
  background-color: transparent;
  text-decoration: underline; }

#footer a:hover {
  text-decoration: none; }

#footer ul {
  margin: 0;
  white-space: nowrap;
  padding: 0; }

#footer li {
  display: inline;
  list-style-type: none; }

select, input {
  font-size: 8.5pt;
  font-face: Geneva, Helvetica, Arial, sans-serif;
}

/* The search box.  */
#header > div.subHeader > span {
    display: none;
}

/* "Advanced Search" in the side-bar.  */
#side-bar > div > ul > li:nth-child(1) > div {
    display: none;
}

.strapline {
  position: absolute;
  right: 11px;
}

#main-copy td.rightmost {
  padding-right: 0;
}


#change-request, #change-request td, #change-request .changeItem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 125%;
}

#change-request .header {
  margin: 40px 0;
}

#change-request .header .nhs-data-model-and-dictionary {
  float: left;
}

#change-request .header .nhs-digital {
  float: right;
}

#change-request .header:after {
  content: "";
  clear: both;
  display: table;
}

#certification {
  clear: both;
}

#iso-9001 {
  padding: 18px 18px 18px 0;
  float: right;
}
